<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Text-based RPG Game</title>
</head>
<body>
    <h1>TRPG</h1>
    <p th:text="${gameMessage}">Game message will appear here</p>
    <p>유저 HP: <span th:text="${playerHealth}">100</span></p>
    <p>괴물 HP: <span th:text="${monsterHealth}">100</span></p>

    <form action="/RPG/choosePath" method="post"  th:if="${#strings.contains(gameMessage, '숲')}">
        <button type="submit" name="path" value="north">북쪽으로</button>
        <button type="submit" name="path" value="east">동쪽으로</button>
    </form>

     <form action="/RPG/attack" method="post" th:if="${#strings.contains(gameMessage, '괴물') or #strings.contains(gameMessage, '치유')}">
        <button type="submit" name="action" th:text="${monsterHealth > 0 ? '공격' : '귀환'}" 
        																			  th:value="${monsterHealth > 0 ? 'attack' : 'reset'}">
            공격
        </button>
        <button type="submit" name="action" value="heal" th:if="${monsterHealth > 0}">치유</button>
    </form>
</body>
</html>
