@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo {
    font-size: 24px;
}

.header .nav {
    display: flex;
    gap: 15px;
}

.header .nav a {
    color: white;
    text-decoration: none;
}

.header .auth {
    display: flex;
    gap: 10px;
}

.header .auth a {
    color: white;
    text-decoration: none;
}

.header .auth img {
	/* 아이콘 간 간격을 조절 */
    margin-left: 10px; 
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
